<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.party.mapper.DemomeetMapper">
    <insert id="insert" parameterType="com.henu.party.bean.DemoMeet">
        INSERT INTO tb_demomeet(
          userName,startTime,endTime,
          result,rewardPunish,rewardPunishReason
        ) VALUES(
          #{userName},#{startTime},#{endTime},
          #{result},#{rewardPunish},#{rewardPunishReason}
        )
    </insert>

    <delete id="deleteByNum" parameterType="int">
        DELETE  FROM tb_demomeet  WHERE num=#{num}
    </delete>

    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.henu.party.bean.DemoMeet">
        SELECT * FROM tb_demomeet WHERE
        userName=#{userName}
    </select>

    <update id="update" parameterType="com.henu.party.bean.DemoMeet">
        UPDATE tb_demomeet SET
          userName=#{userName},
          startTime=#{startTime},
          endTime=#{endTime},
          result=#{result},
          rewardPunish=#{rewardPunish},
          rewardPunishReason=#{rewardPunishReason}
        WHERE num=#{num}
    </update>
</mapper>