<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.party.mapper.EduDegreeMapper">
    <insert id="insert" parameterType="com.henu.party.bean.EduDegree">
        INSERT INTO tb_edudegree(
        userName,eduSector,edu,enDate,
        gradDate,acaDegree,dcDate,graduate
        )
        VALUES(
        #{userName},#{eduSector},#{edu},#{enDate},#{gradDate},#{acaDegree},#{dcDate},#{graduate}
        )
    </insert>

    <delete id="deleteByNum" parameterType="int">
        DELETE FROM tb_edudegree where num = #{num}
    </delete>

    <update id="update" parameterType="com.henu.party.bean.EduDegree">
        UPDATE tb_edudegree SET
        userName=#{userName},
        eduSector=#{eduSector},
        edu=#{edu},
        enDate=#{enDate},
        gradDate=#{gradDate},
        acaDegree=#{acaDegree},
        dcDate=#{dcDate},
        graduate=#{graduate}
    </update>

    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.henu.party.bean.EduDegree">
        SELECT * FROM tb_edudegree WHERE userName=#{userName}
    </select>
</mapper>
